<ion-content>

    <h2 class="title-page">Registro</h2>

    <form #form="ngForm" (ngSubmit)="register( form )">

        <div class="ion-padding-end">
            <ion-item>
                <ion-label color="primary" position="floating">Nombre</ion-label>
                <ion-input ngModel name="name" required></ion-input>
            </ion-item>

            <ion-item>
                <ion-label color="primary" position="floating">Apellido</ion-label>
                <ion-input ngModel name="lastName" required></ion-input>
            </ion-item>

            <ion-item>
                <ion-label color="primary" position="floating">Correo eléctronico</ion-label>
                <ion-input type="email" ngModel name="email" required></ion-input>
            </ion-item>

            <ion-item>
                <ion-label color="primary" position="floating">Télefono</ion-label>
                <ion-input type="number" max="10" ngModel name="phone" required></ion-input>
            </ion-item>

            <ion-item>
                <ion-label color="primary" position="floating">Contraseña</ion-label>
                <ion-input type="password" ngModel name="password" required></ion-input>
            </ion-item>

            <ion-item>
                <ion-label color="primary" position="floating">Confirmar contraseña</ion-label>
                <ion-input type="password" ngModel name="lastName" required></ion-input>
            </ion-item>
        </div>

        <ion-grid class="ion-margin-top" fixed>
            <ion-row class="ion-justify-content-center">
                <ion-col size="6">
                    <ion-button (click)="register(form)" size="small" expand="block" fill="solid" shape="round">
                        Ingresar
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>

    </form>

    <ion-grid class="ion-margin-top" fixed>
        <ion-row class="ion-justify-content-center ion-margin-top">
            <ion-col class="ion-text-center" size="6">
                <ion-label>
                    ¿Ya tienes cuenta?
                    <a routerLink="/auth/login">Ingresa aquí</a>
                </ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>