<ion-content>

    <ion-toolbar>
        <ion-title>Escoger rol</ion-title>
    </ion-toolbar>

    <ion-grid fixed>
        <ion-row *ngFor="let tu of typeUserService.typeUsers" class="ion-justify-content-center">
            <ion-col size="6">
                <ion-card (click)="goTypeUser(tu._id, tu.url)">
                    <img class="img-rol" [src]="tu.image" [alt]="tu.name">
                    <ion-card-content>
                        Soy {{ tu.name }}
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>