<ion-content>

    <ion-toolbar>
        <ion-title>Escoger rol</ion-title>
    </ion-toolbar>

    <ion-grid fixed>
        <ion-row class="ion-justify-content-center">
            <ion-col size="6">
                <ion-card routerLink="/protected/farmer/register-farmer">
                    <img class="img-rol" src="https://cdn.shopify.com/s/files/1/0279/7587/6643/articles/Indes_Blog_1368_11-min.png?v=1586307762" alt="">
                    <ion-card-content>
                        Soy campesino
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
            <ion-col size="6">
                <ion-card routerLink="/protected/buyer/register-buyer">
                    <img class="img-rol" src="https://image.freepik.com/vector-gratis/carrito-compras-supermercado-vacio-realista-aislado-blanco_53562-6809.jpg" alt="">
                    <ion-card-content>
                        Soy comprador
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
            <ion-col size="6">
                <ion-card routerLink="/protected/transportator/register-transportator">
                    <img class="img-rol" src="https://images.paginasamarillas.com/15492029/964263/animation/3.jpg" alt="">
                    <ion-card-content>
                        Soy transportador
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>